<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="custom.css"/>
  <title>NodeTogether - Emergency Motivation</title>
  <style>
    body{
      background-image: url('img/{{image}}.jpg');
      background-size: cover;
    }
  </style>
</head>
<body>
  <header>
    <span class="logo">NodeTogether</span>
  </header>
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>
