<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./public/custom.css"/>
  <title>NodeTogether - Emergency Motivation</title>
</head>
<body>
  <header>
    <span class="logo">NodeTogether</span>
  </header>
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>
